target/
.idea/
*.iml
.classpath
.project
.settings/
.env
.env.*
*.p12
*.pem
*.jks

mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock
backend/data/
